@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('../fonts/GloriaHallelujah.eot');
    src: url('../fonts/GloriaHallelujah.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloriaHallelujah.woff2') format('woff2'),
        url('../fonts/GloriaHallelujah.woff') format('woff'),
        url('../fonts/GloriaHallelujah.ttf') format('truetype'),
        url('../fonts/GloriaHallelujah.svg#GloriaHallelujah') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}