main{
    min-height: calc( 100vh - 120px);
}

main #start_new{
    padding: 8rem 0;
}

main #start_new .start_new_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #start_new .start_new_container span{
    font-size: 3rem;
    margin-bottom:8rem;
}