main{
    min-height: calc( 100vh - 120px);
}

/* start new */
main #start_new{
    display:none;
    padding: 8rem 0;
}
main #start_new.active{
    display:block;
} 
main #start_new .start_new_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
main #start_new .start_new_container span{
    font-size: 3rem;
    margin-bottom:8rem;
}

/* game */

main #game{
    display:none;
    padding: 8rem 0;
}
main #game.active{
    display:block; 
} 

main #game .game_container{
    display:flex;
    justify-content: center;
    align-items: center;
} 
 
main #game #game_table {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 3rem 3rem;  
    width: calc( (var(--cell-size)) * 8 + 2px ) !important;
    height: calc( (var(--cell-size) ) * 8 + 2px ) !important; 
    border:1px solid black;
}
main #game #game_table .cell-number,
main #game #game_table .cell-letter{ 
    position:absolute;
    display:block;
    line-height: 1;
}  
main #game #game_table .cell{
    display:block;
    position:relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border:1px solid black;
}

main #game #game_table .cell_color_white{
   background: #fff;
   background-image: linear-gradient(-45deg, #ccc 0%,var(--color_background) 50% , #ccc 100%); 
} 
main #game #game_table .cell_color_black{
   background: #000;
   background-image: linear-gradient(-45deg, #555 0%,var(--color_text) 50% , #555 100%);
}